@use 'variables';

/* ============================= DESCRIPTION BLOCK ============================= */

.table {
    position: relative;
    border-collapse: separate;
    border-spacing: 0 4px;
    width: 100%;
}

.table__head {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 16px 8px;
    text-align: left;
}

.table__body .table__row .table__cell[scope=row] {
    background-color: #e4e7eb;
    border-radius: 4px 0 0 4px;
    width: 30%;
}

.table__body .table__row .table__cell:nth-child(2) {
    border-radius: 0 4px 4px 0;
    width: 70%;
}

.table__body .table__row .table__cell {
    background-color: #f2f3f5;
}

.table__cell {
    padding: 8px;
    text-align: left;
}

.description__title {
    font-weight: 600;
    font-size: variables.$font-size-big;
}

.description {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem 1rem 0;
}

.descriptin__text {
    line-height: 120%;
}