@use 'variables';

/* ============================= DESCRIPTION BLOCK ============================= */

.description {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem 0;
}

.description__prompt {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: variables.$font-size-small;
}

.description__prompt img {
    max-width: 30px;
}

.description__content {
    gap: 1rem;
    margin: 0 auto;
}

.description__image {
    margin-top: 2rem;
}