@use 'variables';

/* ============================= FOOTER BLOCK ============================= */
.footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1rem 5rem;
    background-color: variables.$header-background-color;
    color: #000;
}


.footer__logo-wrapper {
    height: 3rem;
    fill: #000;
    text-align: center;
}

.footer__logo-wrapper img {
    width: initial;
}

.footer__text-box {
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer__text {
    font-size: variables.$font-size-smaller;
    color: #000;
}