@use 'variables';

/* ============================= FOOTER BLOCK ============================= */
.footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1rem 5rem;
    background-color: #464545;
    color: #fff;
    border-top: 1px solid rgb(216, 216, 216);
}


.footer__logo-wrapper {
    height: 3rem;
    fill: #000;
    text-align: center;
    direction: ltr;
}

.footer__logo-wrapper span {
    direction: ltr;
    color: #fff;
}

.footer__logo-wrapper img {
    width: initial;
}

.footer__text-box {
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer__text {
    font-size: variables.$font-size-smaller;
}