@use 'variables';

/* ============================= HEADER BLOCK ============================= */

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: variables.$background-color;
}

.nav__component {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}

.icon {
    display: block;
    height: 25px;
    width: 25px;
    fill: #fff;
}

.icon img {
    height: 100%;
}

.logo {
    fill: #fff;
    width: 40%;
}

.logo img {
    width: 100%;
}

.burger {
    padding-right: 2rem;
    fill: #fff;
}

.shipping-promo {
    padding: 10px 0;
    font-weight: 600;
    color: #000;
    text-align: center;
    background-color: variables.$additional-background-color;
    font-size: variables.$font-size-small;
}