@use 'variables';

/* ============================= HEADER BLOCK ============================= */

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: variables.$header-background-color;
}

header {
    border-bottom: 1px solid rgb(216, 216, 216);
}

.nav__component {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.icon {
    display: flex;
    flex-direction: column;
    font-size: variables.$font-size-small;
    align-items: center;
    justify-content: center;
}

.icon img {
    height: 100%;
}

.logo {
    fill: #fff;
    max-width: 49px;
}

.logo img {
    width: 100%;
}

.burger {
    fill: #fff;
}

.shipping-promo {
    padding: 10px 0;
    font-weight: 600;
    color: #fff;
    text-align: center;
    background-color: variables.$header-additional-background-color;
    font-size: variables.$font-size-small;
}