@use 'variables';

/* ============================= HEADER BLOCK ============================= */

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    background-color: variables.$header-background-color;
    gap: 1rem;
}

header {
    border-bottom: 1px solid rgb(216, 216, 216);
}

.nav__component {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.icon {
    display: flex;
    flex-direction: column;
    font-size: variables.$font-size-small;
    align-items: center;
    justify-content: center;
}

.icon img {
    height: 100%;
}

.logo {
    fill: #fff;
}

.logo img {
    width: 100%;
}

.header__icon-svg {
    width: 1.5rem;
    height: 1.5rem;
}

.shipping-promo {
    padding: .5rem;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    background-color: variables.$header-additional-background-color;
    font-size: variables.$font-size-small;
}

.icon__cart {
    position: relative;
}

.icon__cart-number {
    font-weight: 600;
    box-sizing: content-box;
    height: 15px;
    width: 15px;
    position: absolute;
    top: -10px;
    right: -10px;
    color: #fff;
    background: #d42114;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}