@use 'variables';

/* ============================= PRODUCT BLOCK ============================= */

.stars__box {
    align-items: center;
    gap: .5rem;
}

.product__stars {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 1em;
    gap: .5rem;
}

.product__stars img {
    height: 1.5rem;
}

.product__stars-text {
    font-size: variables.$font-size-big;
    font-weight: 700;
}

.product__info {
    gap: 1.5rem;
    margin: 0 auto;
    justify-content: space-between;
    background-color: variables.$background-color;
}


.product__price-block {
    text-wrap: nowrap;
    align-items: flex-end;
    gap: .4rem;
}

.product__title-block {

    align-items: flex-end;
}

.product__title-element {
    gap: 1.5rem;
}

.product__tile-icons {
    gap: 1.25rem;
}

.product__tile-icon {
    max-width: 30px;
    max-height: 30px;
}

.product__name {
    font-weight: 700;
    font-size: variables.$font-size-huge;
    text-transform: capitalize;
}

.product__title-reviews-amount {
    text-transform: uppercase;
    color: #616161;
    font-size: variables.$font-size-small;
}

.price-old {
    font-size: variables.$font-size-small;
    text-decoration: line-through;
}

.price-new {
    font-size: variables.$font-size-big;
    color: variables.$price-new-color;
    font-weight: 600;
}

.product__features {
    font-size: variables.$font-size-small;
}

.product__features ul {
    // padding-left: 26px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-position: inside;
}

.product__features li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: variables.$font-size-smaller;
}

.product__features li::before {

    display: none;
    // content: url(./img/icons/plus.svg);
}

.product__availability {
    align-items: center;
    justify-content: center;
    gap: .7rem;
    text-transform: uppercase;
    color: #127840;
}

.product__availability-img {
    width: 10rem
}

.product__buy-reason {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 1rem;
    font-size: variables.$font-size-smaller;
    gap: 10px;
}

.product__buy-reason span {
    width: 100%;
}

.product__block {
    background: #fff;
    border-radius: 1.5rem;
    box-shadow: 0 .2rem 1rem #deeeff;
    padding: 2rem 1.5rem;
    margin: 1rem auto;

    align-items: start;
    gap: 1.5rem;
}

.product__name-under {
    font-size: variables.$font-size-smaller;
    color: #575757;
}

.product__price-zones {
    font-size: variables.$font-size-smaller;
    color: #575757;
}