@use 'variables';


/* ============================= FOOTER BLOCK ============================= */

.timer {
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.timer__countdown {
    font-size: 4rem;
    font-weight: 700;
    color: #25303B;
    gap: .5rem;
}

.timer__text-promo {
    color: #C21919;
    font-size: variables.$font-size-small;
    text-align: center;
    font-weight: 600;
}

.timer__text-strong {
    font-weight: 700;
}

.timer__colon {
    color: #67B4E6;
    font-size: 3rem;
    font-weight: 700;
}