// ============================= VARIABLES BLOCK =============================

$font-size-smaller: clamp(.75rem, 0.3rem + 3.5vw, .95rem);
$font-size-small: clamp(.75rem, 0.3rem + 3.5vw, 1rem);
$font-size-regular: clamp(1rem, 0.3rem + 3.5vw, 1.5rem);
$font-size-big: clamp(1.5rem, 0.3rem + 3.5vw, 2rem);
$font-size-huge: clamp(2rem, 0.3rem + 3.5vw, 3rem);
$font-size-enormous: clamp(2.25rem, 0.3rem + 3.5vw, 4.85rem);

$transition: all 0.3s cubic-bezier(0.76, 0, 0.24, 1);

$cream-color: #f9f5ef;
$gray-color: #F2F3F5;
$background-color: #0000A3;
$additional-background-color: #fff;
$button-color: #0000FF;
$button-hover-color: #0000e7;