@use "sass:math";
@use 'variables';
@use 'base';
@use 'header';
@use 'swiper';
@use 'product';
@use 'blog';
@use 'reviews';
@use 'footer';
@use 'pops';
@use 'description';
@use 'timer';
@use 'checkout';
@use 'notifications';

/* ============================= GENERAL BLOCK ============================= */

body,
* {
    @if variables.$rtl-text {
        direction: rtl;
        // unicode-bidi: bidi-override;
    }
}

.buy-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: variables.$background-color;
    z-index: 100;
    overflow: hidden;
}

.buy__button {
    width: 100%;
    height: 100%;
    background-color: variables.$button-color;
    text-transform: uppercase;
    color: variables.$button-text-color;
    font-weight: 600;
    overflow: hidden;

    &:after {
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        width: 50px;
        animation: flash 6s infinite;
    }
}

.buy__button:hover {
    background-color: variables.$button-hover-color;
}

@keyframes flash {
    0% {
        left: -120%;
    }

    30% {
        left: 120%;
    }

    100% {
        left: 120%;
    }
}

.loader__final {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    height: 100vh;
    gap: 2rem;
    width: 100%;
}


.section__title {
    font-size: 2rem;
    margin: 1rem auto;
    line-height: initial;
    text-align: center;
}

.loader {
    margin: auto;
}

.loader_gif {
    margin: auto;
    width: 270px;
    padding-top: auto;
    padding-bottom: 70px;
    border-radius: 150px;
}