/* ============================================================ BASE STYLE EDIT BLOCK ============================================================ */
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  line-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgb(39, 37, 31);
  font-family: "abc-diatype", "ABC Diatype", "roc-grotesk", "system-ui", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: clamp(1rem, 0.3rem + 3.5vw, 1.5rem);
}

input,
button,
textarea {
  font-family: "Pan Display", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  outline-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  text-wrap: balance;
}

body.lock {
  height: 100vh;
  overflow-y: hidden;
}

p {
  font-size: clamp(1rem, 0.3rem + 3.5vw, 1.5rem);
  margin: 0;
}

ol {
  list-style-type: none;
  text-align: center;
  font-size: clamp(1rem, 0.3rem + 3.5vw, 1.5rem);
  padding-left: 0;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 768px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/* ============================= HEADER BLOCK ============================= */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
  background-color: #fff;
  gap: 1rem;
}

header {
  border-bottom: 1px solid rgb(216, 216, 216);
}

.nav__component {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.icon {
  display: flex;
  flex-direction: column;
  font-size: clamp(0.75rem, 0.3rem + 3vw, 1rem);
  align-items: center;
  justify-content: center;
  fill: #000;
}

.icon img {
  height: 100%;
}

.logo {
  direction: ltr;
  fill: #000;
  color: #fff;
  height: 5rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
}

.logo img {
  width: 100%;
}

.logo span {
  direction: ltr;
  margin: 0 0 12px 2px;
}

.header__icon-svg {
  width: 1.5rem;
  height: 1.5rem;
}

.shipping-promo {
  padding: 0.5rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: #232F3E;
  font-size: clamp(0.75rem, 0.3rem + 3vw, 1rem);
}

.icon__cart {
  position: relative;
}

.icon__cart-number {
  font-weight: 600;
  box-sizing: content-box;
  height: 15px;
  width: 15px;
  position: absolute;
  top: -10px;
  right: -10px;
  color: #fff;
  background: #d42114;
  border: 2px solid #000;
  border-radius: 50%;
  text-align: center;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ============================= SWIPER BLOCK ============================= */
.swiper {
  height: 25rem;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.swiper-pagination-bullet {
  width: 1rem !important;
  height: 0.125rem !important;
  border-radius: unset !important;
  vertical-align: middle;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.25rem !important;
  font-weight: 600 !important;
  color: #000 !important;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.color__selection {
  gap: 1rem;
  padding: 0 1rem 1rem;
  border-bottom: 2px solid #e9ecef;
}

.selector__button {
  height: 24px;
  width: 24px;
  padding: 0;
  border-radius: 0;
  border: 0;
  background-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.selector__button img {
  width: 24px;
  height: 24px;
  border-radius: 0;
  background-size: cover;
  border: 0.063em solid rgba(0, 0, 0, 0.1);
}

.badges {
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 10;
  left: 15px;
  top: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.badge {
  align-items: center;
  background: #25CD66;
  border-radius: 4px;
  color: #fff;
  display: flex;
  height: 46px;
  justify-content: center;
  line-height: 1.15;
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 46px;
  font-size: 1rem;
  font-weight: 600;
}

.badge__img {
  background: none;
  border: 0;
  overflow: hidden;
  padding: 0;
}

.badge__promo {
  background-color: #0b79bf;
}

/* ============================= PRODUCT BLOCK ============================= */
.product__stars {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 1em;
  gap: 2px;
}

.product__stars img {
  width: auto;
  height: auto;
}

.product__info {
  justify-content: space-between;
  padding: 1rem;
  background-color: #fff;
}

.product__price-block {
  text-wrap: nowrap;
  gap: 10px;
}

.product__title-block {
  align-items: flex-end;
}

.product__price-block {
  align-items: center;
}

.product__name {
  font-weight: 700;
  font-size: clamp(0.75rem, 0.3rem + 3vw, 1rem);
}

.product__title-reviews-amount {
  color: #0066B4;
  font-size: clamp(0.75rem, 0.3rem + 3vw, 1rem);
}

.price-old {
  font-size: clamp(0.75rem, 0.3rem + 3vw, 1rem);
  text-decoration: line-through;
}

.price-new {
  font-size: clamp(1.5rem, 0.3rem + 3.5vw, 2rem);
  color: red;
  font-weight: 600;
}

.product__features {
  padding: 1rem;
  font-size: clamp(0.75rem, 0.3rem + 3vw, 1rem);
}

.product__features ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-position: inside;
}

.product__features li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: clamp(0.75rem, 0.3rem + 2.5vw, 0.95rem);
}

.product__features li::before {
  content: url(./img/icons/plus.svg);
}

.product__availability {
  color: #127840;
  padding: 0.5rem 0;
}

.product__buy-reason {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 1rem;
  font-size: clamp(0.75rem, 0.3rem + 2.5vw, 0.95rem);
  gap: 10px;
}

.product__buy-reason span {
  width: 100%;
}

/* ============================= BLOG BLOCK ============================= */
.blog__image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__content {
  margin: 1rem;
}

.blog__header {
  border-top: 2px solid #df2d00;
  padding: 1.5rem 0;
  font-size: clamp(2.25rem, 0.3rem + 3.5vw, 4.85rem);
  line-height: 90%;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.blog__text {
  font-size: clamp(0.75rem, 0.3rem + 3vw, 1rem);
}

.blog {
  margin-bottom: 2rem;
}

/* ============================= REVIEWS BLOCK ============================= */
.reviews__header {
  font-size: clamp(2rem, 0.3rem + 3.5vw, 3rem);
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  letter-spacing: -1px;
  padding: 2rem 0;
  margin: 1rem 0;
}

.reviews__content {
  max-width: 680px;
  margin-inline-end: 62px;
}

.comment-form__body {
  border-bottom: 1px solid #dddfe2;
  margin: 8px 0;
  padding-top: 18px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
}

.comment-form__body > img {
  height: 3rem;
  max-width: 36px;
  margin-right: 8px;
}

.comment-form__body textarea {
  flex: 99999999;
  border-radius: 18px;
  background: #fff;
  border: 1px solid #dddfe2;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.07);
  margin-left: 0;
  padding: 8px;
  font-family: Arial;
  height: 3rem;
  font-size: clamp(0.75rem, 0.3rem + 3vw, 1rem);
}

.comment-form__body button {
  height: 3rem;
  padding: 0 0.25rem;
  margin: 1px 0 0 8px;
  background-color: #4080ff;
  background-image: none;
  border: 1px solid #8d949e;
  border-radius: 2px;
  text-shadow: none;
  color: #fff;
  font-family: Arial;
  outline: 0;
  font-size: clamp(0.75rem, 0.3rem + 2.5vw, 0.95rem);
}

.comment-form__body button:disabled {
  border-color: #bec3c9;
  background-color: #fff;
  color: #4b4f56;
}

.comment-form__icons {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0 20px 20px;
}

.comment-form__icons img {
  width: 20px;
  margin-right: 15px;
}

.comment__container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.comment__avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 6px;
  background: #d8dce6;
}

.comment__avatar img {
  -o-object-fit: cover;
     object-fit: cover;
}

.comment__content {
  max-width: calc(100% - 42px);
  background-color: #ebedf0;
  border-radius: 18px;
  line-height: 16px;
  margin-top: 0;
  min-width: 0;
  padding: 6px 12px 7px 12px;
  position: relative;
}

.comment__name {
  font-size: 12px;
  line-height: 14px;
  padding: 0 0 4px 0;
  color: #576b95;
  cursor: pointer;
}

.comment__text {
  font-size: 14px;
  padding-right: 5px;
  overflow-wrap: anywhere;
  line-height: 16px;
}

.comment__image-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding: 5px 0;
}

.comment__image {
  max-height: 270px;
  width: initial;
  max-width: 100%;
}

.comment__actions {
  position: absolute;
  left: -60px;
  bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0 #dadde1;
  font-weight: 400;
  height: 20px;
  color: #8d949e;
  font-size: 11px;
  padding-inline-end: 6px;
  padding-bottom: 4px;
  z-index: 2;
}

.comment__actions span {
  margin-inline-start: -6px;
  transform: translateY(-1px);
  padding: 2px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fff;
}

.comment__time {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 54px;
  color: #8d949e;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  margin: 0;
  position: relative;
  align-items: center;
  list-style-type: none;
}

.comment__time span {
  padding: 0 4px;
}

.indent-one {
  padding-left: 3rem;
}

.indent-two {
  padding-left: 6rem;
}

/* ============================= FOOTER BLOCK ============================= */
.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem 5rem;
  background-color: #464545;
  color: #fff;
  border-top: 1px solid rgb(216, 216, 216);
}

.footer__logo-wrapper {
  height: 3rem;
  fill: #000;
  text-align: center;
  direction: ltr;
}

.footer__logo-wrapper span {
  direction: ltr;
  color: #fff;
}

.footer__logo-wrapper img {
  width: initial;
}

.footer__text-box {
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer__text {
  font-size: clamp(0.75rem, 0.3rem + 2.5vw, 0.95rem);
}

/* ============================= POPS BLOCK ============================= */
/* Base styles for the modal */
.pop__modal {
  position: fixed;
  visibility: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  will-change: opacity, transform;
  width: 104%;
  height: 104%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

/* Ensure it stays centered during the initial render */
.popup-enter {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.9);
  /* Maintain center positioning */
}

.popup-enter-active {
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  opacity: 1;
  /* Correct scaling */
  transition: opacity 300ms, transform 300ms;
}

.popup-enter-done {
  visibility: visible;
}

.popup-exit {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  /* Ensure proper exit */
}

.popup-exit-active {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/* ============================= STARTUP POP BLOCK ============================= */
.popup__button-close {
  background-color: #fff;
  color: #a7a7a7;
  box-shadow: 0 0 0 2px #a7a7a7;
  padding: 0.5rem;
  border-radius: 50em;
  font-size: 1rem;
  line-height: 65%;
}

.startup__pop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 425px;
  gap: 10px;
}

.popup__button-close {
  align-self: flex-end;
}

.startup__pop-img-wrapper {
  width: 100%;
}

.startup__pop-text {
  text-align: center;
  line-height: 120%;
}

.startup__accept {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem 0.5rem;
  border-radius: 50em;
  background-color: #8064A6;
  color: #fff;
  font-weight: 600;
}

.startup__accept:hover {
  background-color: #8064A6;
}

/* ============================= DESCRIPTION BLOCK ============================= */
.table {
  position: relative;
  border-collapse: separate;
  border-spacing: 0 4px;
  width: 100%;
}

.table__head {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 16px 8px;
  text-align: left;
}

.table__body .table__row .table__cell[scope=row] {
  background-color: #e4e7eb;
  border-radius: 4px 0 0 4px;
  width: 30%;
}

.table__body .table__row .table__cell:nth-child(2) {
  border-radius: 0 4px 4px 0;
  width: 70%;
}

.table__body .table__row .table__cell {
  background-color: #f2f3f5;
}

.table__cell {
  padding: 8px;
  text-align: left;
}

.description__title {
  font-weight: 600;
  font-size: clamp(1.5rem, 0.3rem + 3.5vw, 2rem);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem 1rem 0;
}

.descriptin__text {
  line-height: 120%;
}

/* ============================= FOOTER BLOCK ============================= */
.timer {
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 auto;
}

.timer__countdown {
  font-size: 4rem;
  font-weight: 700;
  color: #25303B;
  gap: 0.5rem;
  direction: ltr;
}

.timer__text-promo {
  color: #C21919;
  font-size: clamp(0.75rem, 0.3rem + 3vw, 1rem);
  text-align: center;
  font-weight: 600;
}

.timer__text-strong {
  font-weight: 700;
}

.timer__colon {
  color: #67B4E6;
  font-size: 3rem;
  font-weight: 700;
}

/* ============================= CHECKOUT BLOCK ============================= */
.checkout__main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkout__fieldset,
.checkout__header {
  padding: 0.75rem 0;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.checkout__header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.checkout__header-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkout__fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.chekout__summary.checkout__fieldset {
  border: none;
}

.checkout__form {
  padding: 0 0 1.5rem;
}

.checkout__fieldset-header {
  font-size: clamp(1.5rem, 0.3rem + 3.5vw, 2rem);
  font-weight: 600;
}

.form-group {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  padding: 0.5rem;
  gap: 0.5rem;
}

.form-control {
  background: none;
}

.form__phone-wrapper {
  display: flex;
  flex-direction: row;
  direction: ltr;
}

.form-control-label {
  font-size: clamp(0.75rem, 0.3rem + 3vw, 1rem);
}

.form__phone-flag-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  direction: ltr;
}

.form__phone-dial-code {
  direction: ltr;
}

.phone__form-control {
  direction: ltr;
  padding-left: 0.1rem;
}

.form__phone-flag {
  height: 10px;
  width: 20px;
}

.checkout__payment-option {
  padding-left: 1rem;
}

[type=radio]:checked + label,
[type=radio]:not(:checked) + label {
  cursor: pointer;
  display: inline-block;
  padding-left: 28px;
  position: relative;
}

[type=radio]:checked + label:before,
[type=radio]:not(:checked) + label:before {
  background: #fff;
  border: 1px solid #131111;
  border-radius: 100%;
  content: "";
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 18px;
}

[type=radio]:checked + label:after,
[type=radio]:not(:checked) + label:after {
  background: #000;
  border-radius: 100%;
  content: "";
  height: 10px;
  left: 4px;
  position: absolute;
  top: 4px;
  transition: all 0.2s ease;
  width: 10px;
}

[type=radio]:checked,
[type=radio]:not(:checked) {
  opacity: 0;
  position: absolute;
}

.shipping-method-option {
  vertical-align: middle;
}

.chekout__summary {
  gap: 1rem;
}

.checkout__summary-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkout__summary-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkout__image {
  max-width: 80px;
}

.checkout__header-price {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

/* ============================================================ NOTIFIcATIONS BLOCK ============================================================ */
.notification__wrapper {
  position: fixed;
  top: 1rem;
  right: 1rem;
  gap: 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px 5px #d3d3d3;
  transition: all 2s ease;
  align-items: flex-start;
  z-index: 20;
}

@media (max-width: 768px) {
  .notification__wrapper {
    width: 90%;
    justify-content: space-between;
  }
}
.notification__panel {
  font-size: clamp(0.75rem, 0.3rem + 3vw, 1rem);
  gap: 5px;
}

.notification__hidden {
  right: -20rem;
  opacity: 0;
}

.notification__shown {
  right: 1rem;
  opacity: 1;
}

.notification__location {
  text-decoration: underline;
}

.notification__header,
.notification__footer {
  gap: 5px;
}

.notification__header {
  font-size: 0.9rem;
}

.notification__img-wrapper {
  width: 4rem;
  height: 4rem;
}

/* ============================= GENERAL BLOCK ============================= */
body,
* {
  direction: rtl;
}

.buy-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-color: #fff;
  z-index: 100;
  overflow: hidden;
}

.buy__button {
  width: 100%;
  height: 100%;
  background-color: #8064A6;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  overflow: hidden;
}
.buy__button:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  width: 50px;
  animation: flash 6s infinite;
}

.buy__button:hover {
  background-color: #8064A6;
}

@keyframes flash {
  0% {
    left: -120%;
  }
  30% {
    left: 120%;
  }
  100% {
    left: 120%;
  }
}
.loader__final {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  height: 100vh;
  gap: 2rem;
  width: 100%;
}

.section__title {
  font-size: 2rem;
  margin: 1rem auto;
  line-height: initial;
  text-align: center;
}

.loader {
  margin: auto;
}

.loader_gif {
  margin: auto;
  width: 270px;
  padding-top: auto;
  padding-bottom: 70px;
  border-radius: 150px;
}